{% extends 'base.html' %}

{% block title %}Cadastro | SGEN{% endblock %}

{% block content %}
<section class="card card-cadastro">
    <h2>Cadastro SGEN</h2> 
    <p class="descricao">Preencha os dados abaixo para criar sua conta.</p>

    <form method="post" class="formulario-padrao">
        {% csrf_token %}
        
        <div class="campo">
            <label>Nome:</label>
            {{ formulario.first_name }}
        </div>

         <div class="campo">
            <label>Sobrenome:</label>
            {{ formulario.last_name }}
        </div>

        <div class="campo">
            <label>E-mail Institucional:</label>
            {{ formulario.email_academico }}
        </div>

        <div class="campo">
            <label>Telefone:</label>
            {{ formulario.phone }}
        </div>

        <div class="campo">
            <label>Senha:</label>
            {{ formulario.password }}
        </div>

        <div class="campo">
            <label>Confirmar Senha:</label>
            {{ formulario.confirm_password }}
        </div>

    {% if formulario.non_field_errors %}
    <div class="alerta-erro">
        {% for erro in formulario.non_field_errors %}
            <p>{{ erro }}</p>
        {% endfor %}
    </div>
{% endif %}


        {% if formulario.errors %}
        <div class="mensagem-erro">
            {{ formulario.errors }}
        </div>
        {% endif %}



        <button type="submit" class="btn-principal">Finalizar Cadastro</button>
    </form>
    <p class="opcao"><a href="{% url 'login' %}"> Voltar </a></p>
</section>
{% endblock %} amanh