{% extends 'base.html' %}

{% block title %}Login | SGEN{% endblock %}

{% block content %}

<section class="card card-login">
    <h2>Entrar no SGEN</h2>
    <p class="descricao">Use seu login institucional para continuar.</p>

    <form method="post" class="formulario-padrao">
        {% csrf_token %}
        {% if login_form.non_field_errors %}
        {% for erro in login_form.non_field_errors %}   
        <div class="alert alert-danger" role="alert">
            {{ erro }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="campo">
            <label for="id_login">Usuário</label>
            {{login_form.username}}
        </div>

        <div class="campo">
            <label for="id_password">Senha</label>
            {{login_form.password}}

        </div>

        <div class="opcao">
            <p class="opcao"><a href="{% url 'recuperar_senha' %}">Esqueci a senha</a></p>
            <p class="opcao"><a href="{% url 'cadastro' %}"> Cadastre-se </a></p>
        </div>

        <button type="submit" class="btn-principal">Entrar</button>
    </form>
</section>
{% endblock %}