{% extends 'base.html' %}

{%  block content %}

<section class="card card-login">
    <h2>Recuperar Senha</h2>
    <p class="descricao"></p>
    <form method="post" class="formulario-padrao">
        {% csrf_token %}

        <div class="campo">
            {{ form.email_academico.errors }}
            <label for="id_login">E-mail</label>
            {{ form.email_academico }}
        </div>

        <button type="submit" class="btn-principal">Enviar</button>

        <div class="opcao">
            <p class="opcao"><a href="{% url 'cadastro' %}"> Cadastre-se </a></p>
        </div>
    </form>
    <p class="opcao"><a href="{% url 'login' %}"> Voltar </a></p>
</section>

{% endblock %}