{% extends 'base.html' %}


{% block title %} Meus Empréstimos | SGEN{% endblock %}

{% block content %}
<section class="card card-reserva">
    <h2>Meus Empréstimos</h2>
    <p class="descricao">Confira seu histórico de Reservas</p>

    <table class="table">
        <thead>
            <tr class="text-center">
                
                <th scope="col">Aluno</th>
                <th scope="col">Notebook</th>
                <th scope="col">Retirada</th>
                <th scope="col">Devolução</th>
                <th scope="col"> Carregador</th>
                <th scope="col"> Status</th>
                
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr class="text-center">
                
                <td>{{ reserva.aluno.get_full_name|default:reserva.aluno.username }}</td>
                <td>{{ reserva.notebook|default:"-" }}</td>
                <td>{{ reserva.data_retirada|date:"d/m/Y H:i" }}</td>
                <td>{{ reserva.data_devolucao|date:"d/m/Y H:i"|default:"-" }}</td>
                <td>{{ reserva.carregador|yesno:"Sim,Não" }}</td>
                <td>{{ reserva.status }}</td>
                <td> <a href="{% url 'editar_reserva' reserva.pk %}"><button type="button" class="btn btn-dark disabled" _msttexthash="78650"_msthash="131">Editar</button></a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Você ainda não possui reservas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}