

{% extends 'base.html' %}


{% block title %} Meus Empréstimos | SGEN{% endblock %}

{% block content %}
<section class="card card-reserva">
	<h2>Meus Empréstimos</h2>
	<p class="descricao">Confira seu histórico de Reservas</p>

    <table class="table" >
        <thead>
            <tr class="text-center" >
                <th scope="row">Número</th>
                <th scope="col">Aluno</th>
                <th scope="col">Notebook</th>
                <th scope="col">Retirada</th>
                <th scope="col">Devolução</th>
                <th scope="col"> Carregador</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr class="text-center">
                <th scope="row">1</th>
                <td>{{ reserva.aluno.get_full_name|default:reserva.aluno.username }}</td>
                <td>{{ reserva.notebook|default:"Pendente" }}</td>
                <td>{{ reserva.data_retirada|date:"d/m/Y H:i" }}</td>
                <td>{{ reserva.data_devolucao|date:"d/m/Y H:i"|default:"Em aberto" }}</td>
                <td>{{ reserva.carregador|yesno:"Sim,Não" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Você ainda não possui reservas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
